<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="10">

	<test name="Weather_API" preserve-order="true" verbose="2">
		<classes>
			<class name="com.api.test.Exercise1Test" />
			<class name="com.api.test.Exercise2Test" />
			
		</classes>
	</test>

</suite>